.widget-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  color: #fff;
  background: #333;
  padding: 10px;
}

.widget-header > a {
  color: #fff;
}

.widget-content {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.widget-image {
  display: inline-block;
  width: calc(33.33333% - 5px);
  margin: 2.5px;
}

.widget-footer {
  color: #fff;
  background: #333;
  padding: 10px;

  text-align: right;
}